.game-window {
    width: 700px;
    height: 650px;
    position: absolute;
    left: 500px;
    
} 
.sky {
    background-color: lightblue;
    width: 700px;
    height: 500px;
    position: absolute;
}
.terrain {
    background-color: brown;
    width: 700px;
    height: 150px;
    position: absolute;
    top: 500px;   
    z-index: +1;
}
.bird {
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
    
}
.pole {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}

.abovePole {
    background-color: green;
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
    
}
.leftBorder {
    width: 60px;
    height: 650px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    left: 440px;
}
.rightBorder {
    width: 60px;
    height: 650px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    left: 1200px;
}
.topBorder {
    width: 760px;
    height: 70px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -70px;
}
.score{
    left: 800px;
    top:690px;
    position: absolute;
}