.game-window {
    width: 700px;
    height: 650px;
    position: absolute;
    left: 500px;
    
} 
.sky {
    background-image: url('skypic650.png');
    width: 700px;
    height: 500px;
    position: absolute;
}
.terrain {
    background-image: url('terrainmain.png');
    background-color: rgba(0,0,0,.9);
    width: 700px;
    height: 150px;
    position: absolute;
    top: 500px;   
    /* z-index: +1; */
}
.bird {
    background-image: url('bird.png');
    position: absolute;
    width: 131px;
    height: 45px;
    
}
.pole {
    background-image: url('pole.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.abovePole {
    background-image: url('pole.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
    
}
.leftBorder {
    width: 60px;
    height: 650px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    left: 440px;
}
.rightBorder {
    width: 60px;
    height: 650px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    left: 1200px;
}
.topBorder {
    width: 760px;
    height: 70px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -70px;
}
.score{
    left: 800px;
    top:690px;
    position: absolute;
}
